node_modules
.DS_Store
dist
lib
build
.turbo
.expo
.expo-shared
web-build
.output
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# iOS
*.xcworkspace/xcuserdata
*.xcuserdatad
DerivedData
ios/Pods
ios/build
*.ipa
*.app

# Android
android/app/build
android/.gradle
android/build
*.apk
*.aab

# Nitro
nitrogen
